<div class="container-screen4-result">
  <h3>Et le resultat est ...</h3>
</div>
<div class="container-result">
    <div class="card-result-2">
<!--        <div class="loading-second"><h1 class = "attente" style="font-size:40px">Calcul en cours</h1></div> -->
       <div class="loading2-second"><h1 class = "attente" style="font-size:40px">En Seconde position...</h1></div>
  </div>
      <div class="card-result-1">
<!--        <div class="loading-first"><h1 class = "attente" style="font-size:40px">Calcul en cours</h1></div> -->
       <div class="loading2-first"><h1 class = "attente" style="font-size:40px">Et enfin...</h1></div>
  </div>
      <div class="card-result-3">
<!--        <div class="loading-third"><h1 class = "attente" style="font-size:40px">Calcul en cours</h1></div> -->
       <div class="loading2-third"><h1 class = "attente" style="font-size:40px">En troisieme position...</h1></div>
  </div>
</div>
<br>
<br>



<!-- <div class="image-ampoule"></div>
<div class="image-puzzle"></div>
<div class="image-among"></div>
<div class="image-blabla"></div> -->
<!-- <div class="image-manette"></div> -->
<!-- <div class="image-musique"></div> -->
