<div class="container-screen4-result">
  <h3>Et le resultat est ...</h3>
</div>
<div class="container-result">
    <div class="card-result">
       <div class="loading"><h1 class = "attente" style="font-size:40px">Calcul en cours</h1></div>
       <div class="loading2"><h1 class = "attente" style="font-size:40px">Selection effectuee</h1></div>
  </div>
</div>
<br>
<br>
<h1 class = "attente" style="font-size:40px">Details des votes :</h1>
<!-- <div class="image-ampoule"></div>
<div class="image-puzzle"></div>
<div class="image-among"></div>
<div class="image-blabla"></div> -->
<!-- <div class="image-manette"></div> -->
<!-- <div class="image-musique"></div> -->
