<div class="container-screen4-result">
  <h3>Votre choix ...</h3>
  </div>
  <div class="container">
    <div class="card-result">
    </div>
  </div>
<!-- <div class="image-ampoule"></div>
<div class="image-puzzle"></div>
<div class="image-among"></div>
<div class="image-blabla"></div> -->
<!-- <div class="image-manette"></div> -->
<!-- <div class="image-musique"></div> -->
