<div class="container">
<h1>Bienvenue sur Ideall</h1>


<%= link_to new_room_path, class: "nav-link" do %>
    <div class="btn btn-primary">Créer une room</div>
<% end  %>
<%= link_to join_room_path, class: "nav-link" do %>
    <div class="btn btn-primary">Rejoindre une room</div>
<% end  %>
</div>