<div class="container">
  <div class="container-home">
    <div class="container-ideall">
      <h1 class="bienvenu">Ideall</h1>
     </div>
      <div class="slogan">Find the ideal idea...</div>

        <div class="container-create">
           <%= link_to new_room_path, class: "nav-link" do %>
            <div class="btn btn-julien02">Nouvelle room</div>
           <% end  %>
        </div>
       <div class="container-join">
        <%= link_to join_room_path, class: "nav-link" do %>
          <div class="btn btn-julien02">Rejoindre une room</div>
        <% end  %>
      </div>
  </div>
</div>
<div class="image-ampoule"></div>
