<div class="container-rooms-new-titre">
  <h3>Room <%= @room.id %></h3>
</div>
<div class="container-letsgo">
<%= link_to room_ecran1_path(@room), class: "nav-link" do %>
  <div class="btn btn-primary">C'est parti !</div>
  <% end  %>
</div>
