.btn-primary {
  color: white;
  border-radius: 15px;
  background-color: $bleu-ideal;
  border: 1px solid white;
  transition: 0.5s ease;
  font-size: 40px;
  &:hover {
    color: $bleu-ideal;
    background-color: white;
    box-shadow: 0px 0px 20px #efeb69;
    border: 1px solid $bleu-ideal;
    animation: 1s brillance 0s linear infinite;
  }
}

.nav-link {
  display: flex;
  justify-content: center;
}

.btn-primary-home {
  color: #363e41;
  transition: 0.5s ease;
  font-size: 40px;
  position: fixed;
  left: 10px;
  text-decoration: none;
  &:hover {
    color: white;
    & p {
      color: white;
    }
  }
}

.btn-primary-home p {
  color: #363e41;
  transition: 0.5s ease;
  font-size: 27px;
  font-family: "East Sea Dokdo", cursive;
  position: fixed;
  left: 36px;
  top: 75px;
}

.btn-primary-home h4 {
  padding-bottom: 0px;
  margin: 2px;
}

a.nav-link {
  padding: 0px;
  text-decoration: none;
}

.container-btn-room {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}

.btn-primary-jean-loup {
  color: white;
  border-radius: 15px;
  background-color: $bleu-ombre-ideal;
  border: 1px solid $bleu-ombre-ideal;
  transition: 0.5s ease;
  font-size: 40px;
  &:hover {
    color: white;
    background-color: $bleu-ombre-ideal;
    box-shadow: 0px 1px 2px black;
  }
}

.btn-julien01 {
  color: white;
  border-radius: 10px;
  background-color: #a9e7fe;
  border: 2px solid white;
  transition: 0.1s ease;
  font-size: 30px;
  font-weight: bold;
  padding: 8px 25px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}

.btn-julien01:hover {
  color: #81dbfc;
  border: 2px solid #f2f2f2;
  background-color: #f2f2f2;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.btn-julien02 {
  color: white;
  border: 3px solid #ffffff00;
  border-radius: 5px;
  background-color: #68c5e7d3;
  font-size: 30px;
  font-family: "Do Hyeon";
  font-weight: regular;
  padding: 8px 25px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
}

.btn-julien02:hover {
  color: #ffffff;
  background-color: #2bb4e6;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  border: 3px solid #f2f2f2;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.btn-game-link {
  color: white;
  border: 3px solid #ffffff00;
  border-radius: 5px;
  background-color: #68c5e7d3;
  font-size: 8px;
  font-family: "Do Hyeon";
  font-weight: regular;
  padding: 0px 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: 12px;
  left: 90px;
  size: 10px;
}

.btn-game-link a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.btn-game-link:hover {
  color: #ffffff;
  background-color: #2bb4e6;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}
