.btn-primary {
  color: white;
  border-radius: 15px;
  background-color: $bleu-ideal;
  border: 1px solid white;
  transition: 0.5s ease;
  font-size: 40px;
  &:hover {
      color: white;
      text-shadow: 1px 0px 0px $bleu-ideal;
      background-color: #6ae0ed;
      box-shadow: 0px 0px 20px #efeb69;
      border: 1px solid $bleu-ideal;
      transition: 0.5s ease;
  }
}

.nav-link {
  display: flex;
  justify-content: center;
}

.bienvenu {
  display: flex;
  justify-content: center;
  color: #f2f2f2;
  text-shadow: 2px 2px 0px black;
  transition: 0.5s ease;
  animation: 5s ideall 1s linear infinite;
  &:hover {
    text-shadow: 5px 2px 0px black;
    transition: 0.5s ease;
  }
}
