.card {
  position: relative;
  display: flex;
  flex-direction: column;
  background-clip: border-box;
  height: 450px;
  width: 300px;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0);
  border: none;
  background-color: white;
  box-shadow: 0px 0px 20px grey;
  padding: 4px;
  margin-bottom: 50px;
  transition: 0.5s ease;
}
.card:hover {
  box-shadow: 0px 0px 10px #68C6E7;
  transform: scale(1.04);
  transition: 0.5s ease;
}

.card_img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  border: solid rgb(209, 209, 209);
  box-shadow: 0px 0px 4px grey;
}

.card_title {
  text-align: center;
  font-size: 27px;
  border-bottom: 2px solid lightgrey;
  margin: 0 10px 0 10px;
}

.card_description {
  text-align: center;
  font-size: 10px;
  margin: 20px 10px 0 10px;
}

.card_vote_2 {
  display: flex;
  align-items: center;
  text-align: center;
}

.card_vote_2 p {
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.card_vote_2 img {
  position: relative;
  margin: 0 20px 0 20px;
  height: 40px;
  width: 40px;
}

.card_vote_2 img:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

.card_vote_2 {
  display: flex;
  position: relative;
  justify-content: center;
  margin-top: 30px;
}

.card_vote {
  display: flex;
  align-items: center;
  text-align: center;
}

.card_vote p {
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.card_vote img {
  position: relative;
  margin: 0 20px 0 20px;
  height: 40px;
  width: 40px;
}

.card_vote img:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

.card_vote {
  display: flex;
  position: absolute;
  justify-content: center;
  margin-top: 30px;
  bottom: 10px;
  right: 30px;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
