.container {
  display: flex;
  display: shrink;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.container-loading {
  position: relative;
  display: flex;
  display: shrink;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin-top: 20px;
}

// Container home

.container-home {
  display: flex;
  position: relative;
  display: inline-block;
  justify-content: center;
  // border: 1px solid black;
  top: 10vh;
  width: 100%;
}

.container-ideall {
  // border: 1px solid black;
  justify-content: center;
  padding: 50px;
  width: 100%;
}

.container-create {
  position: absolute;
  // border: 1px solid blue;
  width: 50%;
  left: 0;
}

.container-join {
  position: absolute;
  // border: 1px solid blue;
  width: 50%;
  right: 0;
  align-items: center;
}

// Container rooms/new

.container-rooms-new-titre {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.container-rooms-new  {
  display: flex;
  justify-content: center;
}

// container login

.container-login {
  display: flex;
  justify-content: center;
}

.container-formulaire-login {
  position: absolute;
  top: 50vh;
}

.container-rooms-join-titre-preference {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.container-rooms-join-titre {
  display: flex;
  justify-content: center;
  margin-top: 200px;
}

.container_cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 60px;
}

.container_cards02 {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 60px;
}

.container-description-room {
  display: flex;
  display: inline-block;
  border: 1px solid #2bb4e6;
  padding: 45px 45px 24px 45px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.7);
  transition: 0.5s ease;
  align-content: center;
  &:hover {
    background-color: rgba(255, 255, 255, 0.8);
    transition: 0.5s ease;
    box-shadow: 0px 0px 20px #2bb4e6;
  }
}

.perso img {
  height: 50px;
  width: 20px;
}

.container-btn-valider {
  justify-content: center;
}

.container-barre-progression {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 900px;
  border: solid 2px white;
  display: flex;
  justify-content: left;
  padding: 0 0;
  height: 15px;
}

.container-case-progression {
  width: 100px;
  color: #2bb4e6;
  background-color: #2bb4e6;
}

.container-letsgo {
  text-align: center;
}

.container_results {
    margin-top: 60px;
    margin-bottom: 0px;
    width: 900px;
    border: solid 1px white;
    justify-content: left;
    height: 42px;
    background-color: #ffffff61;
}

.container-case-progression-result {
  width: 100px;
  height: 100%;
  color: black;
  background-color: #00000061;
  text-align: center;
}

.container-case-progression-result2 {
  width: 300px;
  height: 100%;
  color: black;
  background-color: #e62b2b54;
  text-align: center;
}

.container-case-progression-result3 {
  width: 600px;
  height: 100%;
  color: black;
  background-color: #2bb4e6;
  text-align: center;
}

.container-case-progression-result4 {
  width: 898px;
  height: 100%;
  color: black;
  background-color: #00ec3e61;
  text-align: center;
}

.container-joueurs-pret {
  display: flex;
  position: absolute;
  top: 10%;
  display: inline-block;
  border: 1px solid #2bb4e6;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.7);
  transition: 0.5s ease;
  align-content: center;
  &:hover {
    background-color: rgba(255, 255, 255, 0.8);
    transition: 0.5s ease;
    box-shadow: 0px 0px 20px #2bb4e6;
  }
}
