.container {
  display: flex;
  display: shrink;
  justify-content: center;
  height: 100%;
  width: 100%;
}

// Container home

.container-home {
  display: flex;
  position: relative;
  display:inline-block;
  justify-content: center;
  // border: 1px solid black;
  top: 10vh;
  width: 100%;
}

.container-ideall {
  // border: 1px solid black;
  justify-content: center;
  padding: 50px;
  width: 100%;
  }

.container-create {
  position: absolute;
  // border: 1px solid blue;
  width: 50%;
  left: 0;
}

.container-join {
  position: absolute;
  // border: 1px solid blue;
  width: 50%;
  right: 0;
  align-items: center;
}

// Container rooms/new

.container-rooms-new-titre {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.container-rooms-new {
  display: flex;
  justify-content: center;
}

.container-btn {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

// container login

.container-login {
  display: flex;
  justify-content: center;
}

.container-formulaire-login {
  position: absolute;
  top: 50vh;
}

.container-rooms-join-titre {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
