@keyframes ideall {
  0%
  {
  text-shadow: 2px 2px 0px $bleu-ombre-ideal;
  }
  50%
  {
  text-shadow: 10px 2px 0px $bleu-ombre-ideal;
  }
  100%
  {
  text-shadow: 2px 2px 0px $bleu-ombre-ideal;
  }
}

@keyframes ideallbrillant {
  0%
  {
  filter: drop-shadow(0px 2px 0px #efeb69);
  }
  50%
  {
  filter: drop-shadow(0px 2px 100px #efeb69);
  }
  100%
  {
  filter: drop-shadow(0px 2px 0px #efeb69);
  }
}

@keyframes brillance {
  0%
  {
  box-shadow: 0px 0px 10px #efeb69;
  }
  50%
  {
  box-shadow: 0px 0px 100px #efeb69;
  }
  100%
  {
  box-shadow: 0px 0px 10px #efeb69;
  }
}

@keyframes pointpoint {
  0%
  {
  opacity: 0;
  }
  50%
  {
  opacity: 1;
  }
  100%
  {
  opacity: 0;
  }
}

