@keyframes ideall {
  0%
  {
  text-shadow: 0px 2px 0px black;
  }
  50%
  {
  text-shadow: 7px 2px 0px black;
  }
  100%
  {
  text-shadow: 0px 2px 0px black;
  }
}

@keyframes brillance {
  0%
  {
  box-shadow: 0px 0px 10px #efeb69;
  }
  50%
  {
  box-shadow: 0px 0px 100px #efeb69;
  }
  100%
  {
  box-shadow: 0px 0px 10px #efeb69;
  }
}
