.logo-chargement {
  width: 40px;
  height: 40px;
  border: 8px solid #fff;
  border-right-color: transparent;
  border-radius: 50%;
  box-shadow: 0 0 25px 2px #eee;
  animation: 1s spin 1s linear infinite;
}

.game {
  opacity: 0;
  color: black;
  animation: 5s pointpointgame 1s linear infinite;
}

.joy {
  opacity: 0;
  color: black;
  animation: 5s pointpointjoy 1s linear infinite;
}

.pc {
  opacity: 0;
  color: black;
  animation: 5s pointpointpc 1s linear infinite;
}

.fantome {
  opacity: 0;
  color: black;
  animation: 5s pointpointfantome 1s linear infinite;
}

.container-player-on i span {
  font-size: 30px;
  color: black;
  text-shadow: 0px 0px 10px black;
  animation: 1.5s allumage 0s linear forwards;
}

.container-player-on i {
  font-size: 30px;
  color: black;
  animation: 1.5s allumage 0s linear forwards;
}


.container-player-off i span {
  font-size: 30px;
  color: black;
  text-shadow: 0px 0px 10px black;
}

.container-player-off i {
  font-size: 30px;
  color: black;
}
