.picto {
  font-family: Draw Icons;
  font-size: 80px;
  padding: 10px 0 0 10px;
}

.picto2 {
  font-family: vg;
  font-size: 80px;
  padding: 10px 90px 10px 10px;
}

.pictored {
  font-family: brickled;
  font-size: 15px;
  padding: 5px 5px 5px 5px;
  color: $reed;
  text-shadow: 0px 0px 10px $reed;
  animation: 3s presencered 0s linear infinite;
}

.pictogreen {
  font-family: brickled;
  font-size: 15px;
  color: $greeen;
  padding: 5px 5px 5px 5px;
  text-shadow: 0px 0px 10px $greeen;
  animation: 3s presencegreen 0s linear infinite;
}
