



// .games_results {
//   width: 100px;
//   color: #2bb4e6;
//   background-color: #2bb4e6;
// }



.game_rank {
  // margin-top: 10px;
  // margin-bottom: 10px;
  // width: 900px;
  // border: solid 2px white;
  // height: 15px;
  // position: relative;
  // display: flex;

}

.container-screen4-result {
  display: flex;
  justify-content: center;
  color: white;
  text-shadow: 2px 2px 0px $bleu-ombre-ideal;
  transition: 0.5s ease;
  animation: 5s ideall 1s linear infinite;
}

.container-screen4-result h3 {
  font-size: 80px;
}

.container-result {
  display: flex;
  position: relative;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.loading {
  display: flex;
  z-index: 2;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-family:'Ubuntu', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 40px;
  text-align: center;
  line-height: 45px;
  animation: 3s chargement 0s linear;
  animation-fill-mode: forwards;
  border-radius: 15px;
}

.loading2 {
  display: flex;
  z-index: 2;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-family:'Ubuntu', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 40px;
  text-align: center;
  line-height: 45px;
  animation: 2s chargementc 3s linear;
  animation-fill-mode: forwards;
  border-radius: 15px;
  opacity: 0;
}
