.bienvenu {
  display: flex;
  justify-content: center;
  color: white;
  text-shadow: 2px 2px 0px $bleu-ombre-ideal;
  transition: 0.5s ease;
  animation: 4s ideall 1s linear infinite;
  &:hover {
    text-shadow: 5px 2px 0px $bleu-ombre-ideal;
    transition: 0.5s ease;
  }
}

.container-rooms-new-titre {
  display: flex;
  justify-content: center;
  color: white;;
  text-shadow: 2px 2px 0px $bleu-ombre-ideal;
  transition: 0.5s ease;
  animation: 5s ideall 1s linear infinite;
}

.container-rooms-numero {
  display: flex;
  justify-content: center;
  color: white;;
  text-shadow: 2px 2px 0px $bleu-ombre-ideal;
  transition: 0.5s ease;
  animation: 5s ideall 1s linear infinite;
}

.container-pseudo h1 {
  margin-top: 30vh;
  font-size: 100px;
  display: flex;
  justify-content: center;
  color: white;
  text-shadow: 2px 2px 0px $bleu-ombre-ideal;
  transition: 0.5s ease;
  animation: 4s ideall 1s linear infinite;
  &:hover {
    text-shadow: 5px 2px 0px $bleu-ombre-ideal;
    transition: 0.5s ease;
}
}

.container-rooms-join-titre h1 {
  display: flex;
  font-size: 70px;
  justify-content: center;
  color: white;
  text-shadow: 2px 2px 0px $bleu-ombre-ideal;
}

.container-rooms-join-titre-preference h1 {
  display: flex;
  font-size: 70px;
  justify-content: center;
  color: white;
  text-shadow: 2px 2px 0px $bleu-ombre-ideal;
}

.attente {
  text-align: center;
  display: flex;
  justify-content: center;
  color: white;
  text-shadow: 2px 2px 0px $bleu-ombre-ideal;
  transition: 0.5s ease;
  animation: 5s ideall 1s linear infinite;
}
