.bienvenu {
  display: flex;
  justify-content: center;
  color: #f2f2f2;
  text-shadow: 2px 2px 0px black;
  transition: 0.5s ease;
  animation: 4s ideall 1s linear infinite;
  &:hover {
    text-shadow: 5px 2px 0px black;
    transition: 0.5s ease;
  }
}

.container-rooms-new-titre {
  display: flex;
  justify-content: center;
  color: #f2f2f2;
  text-shadow: 2px 2px 0px black;
  transition: 0.5s ease;
  animation: 5s ideall 1s linear infinite;
}
